@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.h1Middle {
  color: var(--delightful-neutral);
  font-style: italic;
  font-family: 'Courgette', cursive;
  margin: 1rem auto;
}
.reachOut {
  display: block;
  position: relative;
}
.reachOutImg {
  width: 30%;
  height: auto;
  margin: 0 35%;
}
.reachOut:before {
  display: block;
  position: absolute;
  content: '';
  width: 30%;
  height: 100%;
  margin: 0 35%;
  box-shadow: inset 0 0 12px 12px white;
}
#contactArea {
  display: flex;
  margin: 20px 10%;
  box-sizing: border-box;
  max-width: 100vw;
}
.h5,
.h3,
.p {
  line-height: 1.2;
  margin: 10px;
}
.address {
  box-sizing: border-box;
  width: 30%;
  padding: 0 10px 0 0;
  margin: 0;
  text-align: left;
}

.href {
  text-decoration: none;
  color: var(--delightful-bright);
}
.href:hover {
  color: var(--delightful-neutral);
}

.fieldset {
  width: 70%;
  margin: 0;
  border-radius: 1em;
  box-sizing: border-box;
}
.form {
  text-align: left;
  box-sizing: border-box;
}
.line {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0;
  box-sizing: border-box;
}
input,
textarea {
  border: 1px solid var(--color-dark-gray);
}
.input {
  flex-basis: 45%;
}

.select,
.input {
  min-width: 12px;
}
.stZip {
  flex-basis: 45%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  box-sizing: border-box;
}
#st {
  width: 40%;
  margin: 0;
  box-sizing: border-box;
}
#zip {
  width: 55%;
  box-sizing: border-box;
}

.textarea:invalid {
  box-shadow: none;
}
.textarea {
  width: 100%;
}

.button {
  background: var(--color-white);
  border: 1px var(--color-very-light-gray) solid;
  border-radius: 2px;
  font-weight: bold;
  font-size: 9pt;
  outline: none;
  text-transform: uppercase;
  margin-top: 1em;
  padding: 0.5rem 1rem;
}

.button:hover {
  border: 1px #c6c6c6 solid;
  box-shadow: 1px 1px 1px #eaeaea;
  color: #333333;
  background: #f7f7f7;
}
.bottomImageHolder {
  height: 200px;
  width: 100%;
  text-align: center;
}
.contactBottomImage {
  border-radius: 50%;
  height: 100%;
}
@media only screen and (max-width: 899px) {
  #contactArea {
    flex-direction: column;
    width: 60%;
    margin: 20px 20%;
  }
  .reachOutImg {
    width: 70%;
    height: auto;
    margin: 0 15%;
  }
  .reachOut:before {
    width: 70%;
    margin: 0 15%;
  }
  .address {
    width: auto;
    margin-bottom: 40px;
  }
  .fieldset {
    width: auto;
  }
  .line {
    flex-direction: column;
    margin: 0;
  }
  .input {
    margin: 0.5em 0;
  }
  .div {
    flex-direction: column;
  }
  .div > div {
    flex-basis: 95%;
    max-width: 96%;
  }
  #st {
    margin: 0.5em 0;
  }
}
@media (--media-max-width-media) {
  #contactArea {
    width: 90%;
    margin: 20px 5%;
  }
}
