@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

:root {
  /* Heights */
  --read-more-height: 225px;
  --pic-height: 260px;
}

.picLeft,
.picRight {
  margin: 3rem 5rem;
  max-width: calc(100% - 10rem);
  padding-bottom: 1.4rem;
}

.picRight > img {
  float: right;
}
.picLeft > img {
  float: left;
}
.name {
  margin-top: 0;
}

.pic {
  width: auto;
  height: var(--pic-height);
  margin: 1.4rem;
  align-self: center;
}
.pic::after {
  clear: both;
}

.words {
  margin: 1.4rem 1.4rem 0 1.4rem;
}

.mask {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  z-index: 9;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}

.condensed {
  display: flex;
  flex-direction: column;
  position: relative;
  max-height: var(--read-more-height);
  margin: 1.4rem 1.4rem 0 1.4rem;
  overflow: hidden;
}

.expanded {
  display: flex;
  flex-direction: column;
  height: auto;
  display: inherit;
}

.button {
  color: #444444;
  background: #f3f3f3;
  border: 1px #dadada solid;
  border-radius: 0.2rem;
  font-weight: bold;
  font-size: medium;
  outline: none;
  width: 8rem;
  margin: 16px 1.4rem;
  padding: 0.2rem 0;
}

.button:hover {
  border: 1px #c6c6c6 solid;
  box-shadow: 1px 1px 1px #eaeaea;
  color: #333333;
  background: #f7f7f7;
}

.displayYes {
  display: initial !important;
}
.displayNo {
  display: none !important;
}
.visibilityHidden {
  visibility: hidden;
}

@media screen and (max-width: 767px) {
  .picLeft,
  .picRight {
    margin: 2rem 5%;
    width: 90%;
    max-width: 90%;
    display: flex;
    flex-direction: column;
  }

  .pic {
    float: none;
    width: 90%;
    height: auto;
  }
  .word {
    width: 100%;
  }
  /* .btnLeft {
    margin-left: inherit;
  } */
}
.bottomImageHolder {
  height: 200px;
  width: 100%;
  text-align: center;
}
.trainersBottomImage {
  border-radius: 50%;
  height: 100%;
}
