@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.Header {
  display: flex;
  flex-direction: column;
}
.topInfo {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 0 0 1em;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--delightful-neutral-muted);
}

.topInfo > div {
  display: flex;
}
.infoDiv {
  justify-content: flex-start;
}
.tabDiv {
  justify-content: flex-end;
}

.contactBtn {
  font-size: var(--font-large-size);
  line-height: var(--font-large-line-height);
  text-decoration: none;
  color: var(--delightful-neutral);
  padding: 1rem 2.5rem 0;
}
.icon {
  color: var(--delightful-bright);
  font-size: x-large;
  margin: 0.7em 1.5vw 0;
}

.contactBtn:hover,
.icon:hover {
  opacity: 0.7;
}

#homeTab,
#blogTab {
  color: var(--delightful-neutral);
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
  height: 100%;
}

#homeTab {
  background-color: var(--delightful-bright);
}

.tabDiv:hover > #homeTab {
  background-color: var(--color-white);
}

.tabDiv #homeTab:hover {
  background-color: var(--delightful-bright);
}

#blogTab {
  background-color: var(--color-white);
}
#blogTab:hover {
  background-color: var(--delightful-bright);
}

.navbar {
  position: relative;
  color: var(--color-black, #000);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  width: 100%;
  background-color: var(--delightful-neutral-muted);
}

.branding {
  max-width: 20%;
  margin: 0;
  padding: 5px 0 0 5%;
  box-sizing: border-box;
  align-self: center;
}
.logoHolder {
  max-width: 20vw;
}
#logo {
  max-width: 20vw;
}
#logoAlt {
  display: none;
}

#textHolder {
  display: none;
}
.textOnly {
  max-width: 80%;
  box-sizing: border-box;
}

@media screen and (max-width: 899px) {
  /* LARGE */
  .contactBtn {
    font-size: var(--font-large-size);
    line-height: var(--font-base-small-height);
    padding: 1rem 0.5rem;
  }
}

@media screen and (max-width: 767px) {
  /* MEDIUM */
  .topInfo {
    flex-direction: column;
    justify-content: center;
  }
  .topInfo > div {
    width: 100%;
  }
  .infoDiv {
    justify-content: space-between;
  }
  .tabDiv {
    justify-content: center;
  }
  .contactBtn {
    font-size: var(--font-small-size);
    line-height: var(--font-base-small-height);
  }
  #homeTab,
  #blogTab {
    padding: 0.5rem 1rem;
  }
  #logo {
    display: none;
  }
  #logoAlt {
    display: inherit;
    max-width: 100%;
  }
  #textHolder {
    display: inherit;
    flex-basis: 60%;
    margin: 8px 0 0 0;
    padding: 0 10%;
    align-self: center;
  }
}

/****Mobile Devices****/
@media (pointer: coarse) {
  @media screen and (max-width: 899px) {
    .social {
      display: none;
    }
  }
}
