@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

.containerServices {
  width: var(--wide-container);
  margin: 0 auto;
  max-width: 100%;
  box-sizing: border-box;
}
.bannerPic {
  width: 100%;
}
.flexWrapperServices {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}

#imageDivServices,
#wordsDivServices {
  padding: 1em;
}

#imageDivServices {
  flex-basis: 25%;
  align-self: flex-start;
  box-sizing: border-box;
}
#wordsDivServices {
  flex-basis: 70%;
  box-sizing: border-box;
}
.imgServices {
  width: 100%;
  padding-top: 2em;
}

.h2Wrapper {
  text-align: center;
  padding: 2em 3em;
}
.h2Middle {
  color: var(--delightful-neutral);
  font-style: italic;
  font-family: "Courgette", cursive;
}

@media screen and (max-width: 767px) {
  .flexWrapperServices {
    flex-direction: column-reverse;
    padding: 0 5%;
  }
  #imageDivServices,
  #wordsDivServices {
    padding: 0;
  }
  #imageDivServices {
    width: 60%;
    margin: 0 20%;
  }
  .imgServices {
    width: 60%;
    margin: 0 20%;
  }
}
