@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.socialContainer {
    display: flex;
    justify-content: space-evenly;
    padding: 0 35%;
}
.icon {
    color: var(--delightful-neutral)
}
.icon:hover {
    color: var(--delightful-neutral-muted)

}
@media screen and (max-width: 799px) {
    .socialContainer {
        display: flex;
        justify-content: space-evenly;
        padding: 0 25%;
    }
   
}@media screen and (max-width: 674px--media-max-medium) {
    .socialContainer {
        display: flex;
        justify-content: space-evenly;
        padding: 0 15%;
    }
   
}