@import '../styles/custom-properties.css';
@import '../styles/custom-media.css';



.container {
    width: var(--width-small);
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.topImage {
    max-width: 100%;
}
.container  div {
    padding-bottom: 0.5em;
}
.bottomImageHolder {
    height: 200px;
    align-self: center;
}
.bottomImage {
    height: 100%; 
}
