@import '../styles/custom-properties.css';
@import '../styles/custom-media.css';

.container {
    width: var(--wide-container);
    margin: 0 auto;
    max-width: 100vw;
    display: flex;
}

.topImage {
    align-self: flex-start;
    flex-basis: 20%;
    padding: 2em;
}
.flexWrapper {
    display: flex;
    flex-basis: 60%;
    flex-direction: column;
}
.flexWrapper > div {
    padding-bottom: 2.5em;
}
.bottomImage {
    align-self: flex-end;
    flex-basis: 20%;
    padding: 2em;
}

@media (--media-max-large) {
    .container {
        flex-direction: column;
        max-width: 90vw;
        padding: 0 5%;
    }
    .topImage,
    .bottomImage {
        align-self: center;
    }
}