@import "../styles/custom-media.css";
@import "../styles/custom-properties.css";

:root {
  --read-more-height: 400px;
}

.picLeft,
.picRight {
  margin: 3rem 5rem;
  max-width: calc(100% - 10rem);
  padding-bottom: 1.4rem;
}
.picLeft > img {
  float: left;
}
.picRight > img {
  float: right;
}
.h2 {
  margin-top: 0;
}

.pic {
  width: 20rem;
  height: auto;
  margin: 1.4rem;
  /* max-height: var(--read-more-height); */
}

.words {
  margin: 1.4rem 1.4rem 0 1.4rem;
}

.mask {
  width: 100%;
  min-height: calc(var(--read-more-height) / 3);
  position: absolute;
  bottom: 0;
  z-index: 9;
  background-image: linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 1)
  );
}

.condensed {
  position: relative;
  max-height: var(--read-more-height);
  margin: 1.4rem 1.4rem 0 1.4rem;
  overflow: hidden;
}

.expanded {
  height: auto;
}

button {
  color: #444444;
  background: #f3f3f3;
  border: 1px #dadada solid;
  border-radius: 2px;
  font-weight: bold;
  font-size: 9pt;
  outline: none;
}

button:hover {
  border: 1px #c6c6c6 solid;
  box-shadow: 1px 1px 1px #eaeaea;
  color: #333333;
  background: #f7f7f7;
}
.btnLeft {
  width: 8rem;
  margin-left: calc(100% - 32.2rem);
  border-radius: 0.2rem;
  padding: 0.2rem 0;
  font-size: medium;
}

.btnRight {
  width: 8rem;
  margin-left: calc(100% - 9.4rem);
  border-radius: 0.2rem;
  padding: 0.2rem 0;
  font-size: medium;
}

.displayYes {
  display: block !important;
}
.displayNo {
  display: none;
}
.visibilityHidden {
  visibility: hidden;
}

@media screen and (max-width: 767px) {
  .picLeft,
  .picRight {
    margin: 2rem 5%;
    width: 90%;
    max-width: 90%;
  }
  
  .picLeft > img,
  .picRight > img {
    float: none;
  }
  .pic {
    width: 90%;
    height: auto;
  }
  .word {
    width: 100%;
  }
  .btnLeft {
    margin-left: inherit;
  }
}
.bottomImageHolder {
  height: 200px;
  width: 100%;
  text-align: center;
}
.trainersBottomImage {
  border-radius: 50%;
  height: 100%; 
}
