@import '../styles/custom-properties.css';
@import '../styles/custom-media.css';



.container {
    margin: 0 auto;
}

.topImageHolder {
    width: 100%;
    text-align: center;
}

.topImage {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

}
.mapped {
    padding: 3rem 0 0 0;
}
.course {
    padding: 0 4em 2em;
    margin:  auto;
    text-align: center;
}

.bottomImageHolder {
    height: 200px;
    width: 100%;
    text-align: center;
}
.bottomImage {
    border-radius: 50%;
    height: 100%; 
}
