@import "./styles/custom-media.css";
@import "./styles/custom-properties.css";

#headerSection {
  display: flex;
  flex-direction: column;
}
.topInfo {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0 0 0 1em;
  margin: 0;
  box-sizing: border-box;
}

.topInfo > div {
  display: flex;
  /* @media (--media-max-medium) {
    width: 100%;
  } */
}
#infoDiv {
  justify-content: flex-start;
}
#tabDiv {
  justify-content: flex-end;
}

.contactBtn,
.icon {
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
  text-decoration: none;
  color: var(--delightful-neutral);
  padding: 1rem 0.6rem;
  @media (--media-max-large) {
    font-size: var(--font-small-size);
    line-height: var(--font-base-small-height);
    padding: 1rem 0.5rem;
  }
  @media (--media-max-medium) {
    font-size: var(--font-small-size);
    line-height: var(--font-base-small-height);
  }
  @media (--media-max-small) {
    font-size: var(--font-micro-size);
    padding: 1rem 0.2rem;
  }
}
.icon {
  color: var(--delightful-bright);
  font-size: x-large;
}
.contactBtn:hover,
.icon:hover {
  opacity: 0.7;
}

#homeTab,
#blogTab {
  color: var(--delightful-neutral);
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  height: 100%;
}

#homeTab {
  background-color: var(--delightful-bright);
}

#tabDiv:hover > #homeTab {
  background-color: var(--color-white);
}

#tabDiv #homeTab:hover {
  background-color: var(--delightful-bright);
}

#blogTab:hover {
  background-color: var(--delightful-bright);
}

.root {
  position: relative;
  color: var(--color-black, #000);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  width: 100%;
  background-color: var(--delightful-neutral-muted);
}

.root a {
  color: inherit;
  text-decoration: inherit;
}

.branding {
  font-size: inherit;
  font-weight: inherit;
  text-transform: uppercase;
  max-width: 20%;
  margin: 0;
  padding: 5px 0 0 5%;
  box-sizing: border-box;
  align-self: center;
}
.logoHolder {
  height: 100%;
}
#logo {
  max-width: 100%;
}
#logoAlt {
  display: none;

}

#textHolder {
  display: none;
}
.textOnly {
  max-width: 80%;
  box-sizing: border-box;
}
/* .nav {
  position: relative;
} */
#navItems {
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: var(--font-base-size);
}

.navItem {
  display: flex;
  white-space: nowrap;
  align-items: stretch;
  align-self: flex-end;
  line-height: calc(var(--font-base-line-height) * 1.5rem);
  display: block;
  position: relative;
  padding: 1.5rem 0.5rem;

  @media (--media-max-medium) {
    padding: 1rem 1.5rem;
    width: 100%;
    box-sizing: border-box;
    text-align: right;

    @nest &[data-is-active="true"]::before {
      content: "";
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0.5rem;
      left: 0;
      background-color: var(--color-white, #fff);
    }
  }

  @nest .root[data-show-nav="true"] & > a[data-is-active="true"]::before {
    display: none;
  }

  @media (--media-min-medium) {
    margin-left: 0.5rem;
  }
}

.navItem:hover {
  opacity: 0.7;
}

.showNavButton {
  appearance: none;
  border: none;
  font: inherit;
  background: none;
  color: inherit;
  margin: 30% 0 0 0;
  padding: 0 1.5rem;
  outline: none;
  box-sizing: border-box;
}

.hamburgerIcon {
  font-size: calc(var(--font-base-line-height) * 1.5rem);
  display: block;
  margin-top: 0;
}


@media screen and (max-width: 899px) {
  /* LARGE */
  .contactBtn,
  .icon {
    font-size: var(--font-small-size);
    line-height: var(--font-base-small-height);
    padding: 1rem 0.5rem;
  }
}
@media screen and (min-width: 675px) {
  /* MEDIUM minimum */
  .showNavButton {
    display: none;
  }
  #navItems {
    display: flex !important;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 1rem;
    align-self: flex-end;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: var(--font-base-size);
  }
}
@media screen and (max-width: 674px) {
  /* MEDIUM */
  .topInfo {
    flex-direction: column;
    justify-content: center;
  }
  .topInfo > div {
    width: 100%;
  }
  .contactBtn,
  .icon {
    font-size: var(--font-small-size);
    line-height: var(--font-base-small-height);
  }
  #homeTab,
  #blogTab {
    padding: 0.5rem 1rem;
  }
  #logo {
    display: none;
  }
  #logoAlt {
    display: inherit;
    max-width: 100%;
  }
  #textHolder {
    display: inherit;
    flex-basis: 60%;
    margin: 0;
    padding: 0 10%;
    align-self: center;
  }
  .nav {
    align-self: center;
  }
  #navItems {
    z-index: 10;
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    background-color: var(--color-black, #000000);
    color: var(--color-white, #fff);

    @nest .root[data-show-nav="true"] & {
      display: block;
    }
  }
  .navItem {
    padding: 1rem 1.5rem;
    width: 100%;
    box-sizing: border-box;
    text-align: right;

    /* @nest &[data-is-active="true"]::before {
      content: "";
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 0.5rem;
      left: 0;
      background-color: var(--color-white, #fff);
    } */
  }
}

@media screen and (max-width: 449px) {
  /* SMALL */
}
